* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    background-image: url(../images/EventBackground.png);
    margin: auto;  
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 16px;
    color: rgb(3, 163, 199);
    text-decoration: none;
    flex-wrap: wrap;
    
}







    

#FosterLogo img{
    
    margin-top: 140px;
    margin-left: -65px;
    float: left;
    width: 250px;
    flex-wrap: wrap;

}



#HomeChildren img{
    width: 700px;
    float: right;
    border: 5px solid #ffffff;
    
}

#FosterOrg{
    
    width: 350px;
    float: right;
    margin-right: 100px;
    

}




#Charity1 img{
    width: 800px;
    
    border: 5px solid #ffffff;
    
}

#HrEvent{
    align-items: left;
    float: left;
    border-color: rgb(3, 163, 199) ;
    
}


p{
    text-decoration-color: rgb(0, 187, 255);
    text-align: left;
    align-items: left;
    float: left;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    line-height: 25px;
    margin-left: -155px;
    padding: 90px;
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    
}



h1{
    text-decoration-color:rgb(0, 187, 255);
    text-align: left;
    align-items: left;
    float: left;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    margin-left: -155px;
    padding-top: 160px;
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    
}






.parentOne {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
 
 }
 
 .child {
    border: #ffffff;
    width: 20%;
    position: relative;
    color: #ffffff;
    line-height: 25px;
 }
 
 img {
 width: 130%;
 
 }
 
 

h5{
    font-size: 25px;
    margin-top: 25px;
     margin-bottom: 15px;
}


h2{
    font-size: 35px;
    margin-top: 25px;
     margin-bottom: 35px;
}



hr {
    border-top: 1px solid rgb(255, 255, 255);
    margin-bottom: 25px;
  }


h3{

    font: 25px;
    margin: 10px;
    padding: 10px;
    font-family: 'Nunito', sans-serif;
    border-color: white;
    margin: 1rem auto;
    text-align: center;
    width: 70%;
    
}

#child img{

    margin-left: 94px;
}








#SupportInfo{

 float: right;
 display: flex;
flex-wrap: wrap;

}



#SupportUs1{

    float: right;
    display: flex;
   flex-wrap: wrap;
   

   }
   
   #BuyNow1{

    float: left;
    display: flex;
   flex-wrap: wrap;
   color: #ffffff;
   
   }
   
#Buytickets{

    width: 500px;
    align-items: center;
    margin-right: 175px;
}

#HrEvent{

    width: 550px;
    align-items: center;
    margin-right: 25px;
    color: #ffffff;
}

.column{

    float: left;
    width: 22%;
    padding: 5px;
}


.merchrow{
    display: table;
    clear: both;
}